
<h3>Quarters</h3>
<ul>
  <li>January-March (Q1)</li>
  <li>April-June (Q2)</li>
  <li>July-September (Q3)</li>
  <li>October-December (Q4).</li>
</ul>
<% if @admin_action.errors.any? %>
  <div id="error">
    <h2><%= pluralize(@admin_action.errors.count, "error") %> prohibited this admin_action from being saved:</h2>

    <ul>
    <% @admin_action.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= f.text_field :symbol, placeholder: "Enter Symbol" %>
<%= f.number_field :old_bv, placeholder: "Oldest BV to date" %>
<%= f.number_field :bv_years, placeholder: "Years between BV" %>
<div id="logs">
  <%= f.fields_for :logs do |log| %>
    <%= render 'log_fields', f: log %>
  <% end %>
  <div class="links">
    <%= link_to_add_association 'add log', f, :logs %>
  </div>
</div>



<div class="actions">
  <%= f.submit %>
</div>