<%= form_for(@admin_action) do |f| %>
  <% if @admin_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_action.errors.count, "error") %> prohibited this admin_action from being saved:</h2>

      <ul>
      <% @admin_action.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :symbol, placeholder: "Enter Symbol" %>
  <%= f.number_field :equity, placeholder: "Enter Equity (in millions)" %>
  <%= f.number_field :shares, placeholder: "Enter Shares Outstanding (in millions)" %>
  <%= f.number_field :net_income, placeholder: "Enter Net Income (in millions)" %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
